* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}
h3 {
    color: #ff9000;
}

.g-width {
    width: 80%;
}

.header {
    margin: 16px auto;
    flex-direction: column;

    margin-top: 12px;
}

/* making header with two colors */
.header-main span {
    color: #ff9000;
}

.header-aboutme {
    color: #ff9000;
}

/* decorating links */

.navigation {
    display: flex;
    gap: 40px;
    justify-content: center;
    

    margin-top: 12px;
    padding: 20px;
    background-color: #555;
    border-radius: 12px;
    
    width: 100%;
}

navigation li {
    list-style: none; 
      
}

/* using pseudocode of links and styling for different states */
.link:link,
.link:visited {
    text-decoration: none; 
    color: #fff; 
    color:  #ff9000;

    font-size: 22px;

    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #cac9de;
}

/*************************************************************************************************/
/***********************************ABOUT ME*******************************************/
.section-aboutme {
    margin: auto;
    
    text-align: center ;
    margin-bottom: 32px;

}

.section-aboutme img {
    width: 40%;

    height: 20%;
    margin-bottom: 12px;
    
    object-fit: cover;
}

/* decorating the paragraph */
.section-aboutme p {
    text-align: left;
    font-size: 16px;

    padding: 30px;
    background-color: #f8f8f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section-aboutme p span {
    color: #ff9000;
}


/*************************************************************************************************/
/***********************************MY PORTFOLIO*******************************************/
/* centering the section */
.section-portfolio {
    margin: auto;
    margin-bottom: 21px;
    

}

.header-portfolio {
    margin-bottom: 0;
}

/* Using grid to make more responsive */
.project-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;    
}

.cards {
    padding-top: 12px;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.cards img {
    width: 100%;
    overflow: hidden;

    border-radius: 12px 12px 0 0 ;
}

.cards p {
    background-color: #555;
    color: #fff;
    padding: 8px 8px;
    border-radius: 0 0 12px 12px;
}

/* Decorating buttons */
.button {
    width: 126px;
    height: 40px;
    padding: 9px;
    font-size: 16px;
    border-radius: 18px;
    background-color: #ffa500 ;
    border: none;

    cursor: pointer;
    transition: all .3s;

}

/* changing the state of button */
.button:hover {
    width:150px ;
    background-color: #ffa800;
    color: rgb(240, 240, 240);
    
    transform: 1.2;
    border: 1px solid #999;
}

